* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

h1,h2,h3 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 865px;
    padding: 0 5px;
    margin: 0 auto;
}

.header {
    padding: 30px;
    padding-bottom: 30px;
}

.header__container {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 33px;
    font-weight: 500;
    font-size: 20px;
}

.header__burger {
    width: 30px;
    height: 20px;
    display: none;
    align-items: center;
}

.header__burger-el {
    height: 1.6px;
    width: 100%;
    background-color: #21243D;
    position: relative;
}

.header__burger-el::before,
.header__burger-el::after {
    content: "";
    height: 1.6px;
    width: 100%;
    background-color: #21243D;
    position: absolute;

}

.header__burger-el::before {
    top: -9px;
}

.header__burger-el::after {
    bottom: -9px;
}

@media (max-width: 480px) {
    .header {
        padding-top: 20px;
        padding-bottom: 12px;
    }
    .nav {
        display: none;
    }
    .header__burger {
        display: flex;
        margin-right: 13px;
    }
}

.main {
    margin-top: 150px;
    margin-bottom: 71px;
}

.about {
    margin-bottom: 40px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.about__container {
    display: flex;
}

.about__avatar {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

@media (max-width: 480px) {
    .about__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .about__title {
        line-height: 1.25;
    }

    .about__info {
        text-align: center;
        padding-right: 18px;
        padding-left: 18px;
    }
    .about__avatar {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
    }
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__info {
    color: #000000 ;
    padding: 20px;
    padding-right: 13%;
}

.about__title {
    font-size: 44px;
    margin: 0;
    margin-bottom: 40px;
}

.about__text {
    font-size: 16px;
    margin-bottom: 47px;
}

.button {
    z-index: 10;
    position: relative;
    background-color: #FF6464;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 2px;
}

.recent-posts {
    background-color: #EDF7FA;
    padding: 27px 0px 32px;
    color: #21243D;
}

.posts__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

@media (max-width: 480px) {
    .recent-posts {
        padding-right: 5px;
        padding-left: 5px;
    }
    .posts__top {
       justify-content: center;
       margin-bottom: 19px;
   } 
   .recent-posts__link {
       display: none;
   }
   .recent-posts__articles {
        flex-direction: column;
    }
    .recent-posts__article {
        padding: 12px 20px 22px;
        margin-right: 0;
        margin-bottom: 17px;
    }
}


.title-section {
    font-size: 22px;
}

.recent-posts__link {
    font-size: 16px;
    color: #00aeff;
}

.recent-posts__articles {
    display: flex;
}

.recent-posts__article {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px 22px 30px;
    margin-right: 2%;
}

.recent-posts__article:last-child {
    margin: 0;
}

.recent-posts__subtitle {
    padding: 24px 22px 22px;
    font-size: 26px;
    line-height: 38px;
    display: flex;
}

.recent-posts__info {
    padding: 17px 22px 22px;
    font-size: 18px;
    line-height: 26px;
}

.recent-posts__text {
    padding: 11px 22px 22px;
    font-size: 16px;
    line-height: 23px
}

.recent-posts__separator {
    margin: 0px 29px;
}

.title-section2 {
    padding-top: 34px;
}
.Featured__Works {
    background-color: #E0E0E0;
}

.work {
    background-color: #FFFFFF;
    padding-bottom: 33px;
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}

.work__img-wrap {
    border-radius: 6px;
    overflow: hidden;
    max-width: 246px;
    max-height: 180px;
    flex-shrink: 0;
}

.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__title {
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    padding-bottom: 28px;
}
.work__info {
   padding-left: 18px; 
}

.work__subtitle {
    display: flex;
    padding-bottom: 28px;
}

.work__date {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #142850;
    color: #FFFFFF;
    border-radius: 16px;
    font-size: 18px;
}
.work__category {
    color: #8695A4;
    padding-left: 26px;
}

.footer-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    width: 232px;
}

.element_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .Featured__Works {
        display: flex;
        width: 100%;
        overflow: auto;
    }
    .work {
        max-width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding: 20px 13px;
    }
    .work__img-wrap {
        max-width: 100%;
        max-height: 230px;
    }
}